<div class="container">
  <div class="header">
    <h3 style="color: #596780; font-weight: 300; font-size: 20px">No active Job post</h3>
    <span style="display: flex; align-items: center"
      ><h6 style="font-size: 14px; color: 242C3D; font-weight: 300">Filter</h6>
      <img style="margin: 0.5rem; height: -0.5rem" src="../../assets/sort.png" alt="sort-icon" />
    </span>
  </div>
  <div class="job-post-section">
    <div class="job-post-container">
      <div class="job-post-header">
        <h1>Create an inclusive job post</h1>
        <p>
          We are committed to creating an inclusive and diverse work environment where everyone can thrive. Publish on
          <br />
          many well-liked free and paid job boards, and move things along more quickly.
        </p>
        <button class="create-post-btn" [routerLink]="'create-job-form'">Create new post</button>
      </div>
      <div class="job-post-image">
        <img src="../../assets/create-post.gif" alt="create-new-post" />
      </div>
    </div>
  </div>

  <hr class="new2" />

  <div class="candidate-pool">
    <div class="candidate-pool-header">
      <img src="../../assets/planet.gif" alt="Planet icon" class="planet-icon" />
      <div class="title-group">
        <h1 class="candidate-pool-title">Candidate pool</h1>
        <p class="candidate-pool-description">Add candidates to keep on file for available future positions</p>
      </div>
    </div>
    <button class="add-candidate-button">Add new candidate</button>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="icon-container">
        <img style="margin-right: 0.5rem" src="../../assets/profile-add.png" alt="invite" />
        <h4 class="left-margin-h4">Invite collaborators</h4>
      </div>
      <div class="text-container">
        <p>Add team members to join your hiring workspace</p>
      </div>
      <button class="card-btn left-margin-h4">Upload Resume</button>
    </div>
    <div class="card">
      <div class="icon-container">
        <img style="margin-right: 0.5rem" src="../../assets/facebook.png" alt="invite" />
        <h4 class="left-margin-h4">Connect to Facebook</h4>
      </div>
      <div class="text-container">
        <p>Add candidates to keep on file for available future positions</p>
      </div>
      <button class="card-btn left-margin-h4">Upload Resume</button>
    </div>
    <div class="card">
      <div class="icon-container">
        <img style="margin-right: 0.5rem" src="../../assets/linkedin.png" alt="invite" />
        <h4>Connect to LinkedIn</h4>
      </div>
      <div class="text-container">
        <p>Add candidates to keep on file for available future positions</p>
      </div>
      <button class="card-btn left-margin-h4">Upload Resume</button>
    </div>
  </div>
</div>
