<div class="candidate">
  <div class="filter-bar">
    <input type="text" class="filter-input" placeholder="Filter by Keyword" />
    <button class="filter-button">Tags</button>
    <button class="filter-button">Source</button>
    <button class="filter-button">Stage</button>
    <button class="filter-button">Role</button>
    <button class="filter-button">Date</button>
    <button class="filter-button">Country</button>
  </div>
  <div class="contents">
    <div class="shell">
      <div class="card-container">
        <div class="user-card">
          <mat-checkbox class="example-margin" style="margin-right: 1rem"></mat-checkbox>
          <div class="avatar-section">
            <span class="status-indicator"></span>
            <img class="avatar" src="../../assets/Owl.png" alt="User Avatar" />
            <div class="user-info">
              <div class="user-id">JB78956</div>
              <div class="user-role">Finance specialist</div>
            </div>
          </div>
          <div class="actions">
            <button class="action-button">Add to a job</button>
            <button class="action-button">Request Access</button>
            <button class="action-button">Compare</button>
          </div>
        </div>
        <div class="card">
          <div class="left-section">
            <h3>Personality test</h3>
            <div class="text-details">
              <div class="fire">
                <img src="../../assets/fire-lottie-animation-fwTM2IOnDK.png" alt="fire" />
                <div class="line"></div>
                <h4>Fire Element</h4>
              </div>
              <div class="fox">
                <span
                  ><img src="../../assets/dog.png" alt="dog" />
                  <p>A Fox</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/owl-t.png" alt="owl" />
                  <p>An Owl</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/fish.png" alt="fish" />
                  <p>A Dolphin</p></span
                >
              </div>
              <div class="dominance">
                <img src="../../assets/dominance.png" alt="dominance" />
                <div class="texts">
                  <p>Dominance: 50%</p>
                  <p>Conscientious: 20%</p>
                  <p>Steadiness: 10%/p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="middle-section">
            <div class="candidate-name">John Scarlet</div>
            <div class="candidate-details">
              <span>From: Candidate pool</span>
              <span>Access expired: 4 days ago</span>
              <span>Added: 3 days ago</span>
            </div>
          </div>
          <div class="right-section">
            <div class="grade">
              <div class="rating">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <div class="rating-number">4.0</div>
              </div>
              <button class="refer-btn">Refer</button>
            </div>
            <div class="line"></div>
            <div class="tags">
              <h3>Tags</h3>
              <div class="skills">
                <span class="tag">Power BI</span>
                <span class="tag">Tableau</span>
                <span class="tag">Tableau</span>
                <span class="tag">Sass</span>
                <span class="tag">Sass</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="user-card">
          <mat-checkbox class="example-margin" style="margin-right: 1rem"></mat-checkbox>
          <div class="avatar-section">
            <span class="status-indicator"></span>
            <img class="avatar" src="../../assets/Owl.png" alt="User Avatar" />
            <div class="user-info">
              <div class="user-id">JB78956</div>
              <div class="user-role">Finance specialist</div>
            </div>
          </div>
          <div class="actions">
            <button class="action-button">Add to a job</button>
            <button class="action-button">Request Access</button>
            <button class="action-button">Compare</button>
          </div>
        </div>
        <div class="card">
          <div class="left-section">
            <h3>Personality test</h3>
            <div class="text-details">
              <div class="fire">
                <img src="../../assets/fire-lottie-animation-fwTM2IOnDK.png" alt="fire" />
                <div class="line"></div>
                <h4>Fire Element</h4>
              </div>
              <div class="fox">
                <span
                  ><img src="../../assets/dog.png" alt="dog" />
                  <p>A Fox</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/owl-t.png" alt="owl" />
                  <p>An Owl</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/fish.png" alt="fish" />
                  <p>A Dolphin</p></span
                >
              </div>
              <div class="dominance">
                <img src="../../assets/dominance.png" alt="dominance" />
                <div class="texts">
                  <p>Dominance: 50%</p>
                  <p>Conscientious: 20%</p>
                  <p>Steadiness: 10%/p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="middle-section">
            <div class="candidate-name">John Scarlet</div>
            <div class="candidate-details">
              <span>From: Candidate pool</span>
              <span>Access expired: 4 days ago</span>
              <span>Added: 3 days ago</span>
            </div>
          </div>
          <div class="right-section">
            <div class="grade">
              <div class="rating">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <div class="rating-number">4.0</div>
              </div>
              <button class="refer-btn">Refer</button>
            </div>
            <div class="line"></div>
            <div class="tags">
              <h3>Tags</h3>
              <div class="skills">
                <span class="tag">Power BI</span>
                <span class="tag">Tableau</span>
                <span class="tag">Tableau</span>
                <span class="tag">Sass</span>
                <span class="tag">Sass</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="user-card">
          <mat-checkbox class="example-margin" style="margin-right: 1rem"></mat-checkbox>
          <div class="avatar-section">
            <span class="status-indicator"></span>
            <img class="avatar" src="../../assets/Owl.png" alt="User Avatar" />
            <div class="user-info">
              <div class="user-id">JB78956</div>
              <div class="user-role">Finance specialist</div>
            </div>
          </div>
          <div class="actions">
            <button class="action-button">Add to a job</button>
            <button class="action-button">Request Access</button>
            <button class="action-button">Compare</button>
          </div>
        </div>
        <div class="card">
          <div class="left-section">
            <h3>Personality test</h3>
            <div class="text-details">
              <div class="fire">
                <img src="../../assets/fire-lottie-animation-fwTM2IOnDK.png" alt="fire" />
                <div class="line"></div>
                <h4>Fire Element</h4>
              </div>
              <div class="fox">
                <span
                  ><img src="../../assets/dog.png" alt="dog" />
                  <p>A Fox</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/owl-t.png" alt="owl" />
                  <p>An Owl</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/fish.png" alt="fish" />
                  <p>A Dolphin</p></span
                >
              </div>
              <div class="dominance">
                <img src="../../assets/dominance.png" alt="dominance" />
                <div class="texts">
                  <p>Dominance: 50%</p>
                  <p>Conscientious: 20%</p>
                  <p>Steadiness: 10%/p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="middle-section">
            <div class="candidate-name">John Scarlet</div>
            <div class="candidate-details">
              <span>From: Candidate pool</span>
              <span>Access expired: 4 days ago</span>
              <span>Added: 3 days ago</span>
            </div>
          </div>
          <div class="right-section">
            <div class="grade">
              <div class="rating">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <div class="rating-number">4.0</div>
              </div>
              <button class="refer-btn">Refer</button>
            </div>
            <div class="line"></div>
            <div class="tags">
              <h3>Tags</h3>
              <div class="skills">
                <span class="tag">Power BI</span>
                <span class="tag">Tableau</span>
                <span class="tag">Tableau</span>
                <span class="tag">Sass</span>
                <span class="tag">Sass</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="user-card">
          <mat-checkbox class="example-margin" style="margin-right: 1rem"></mat-checkbox>
          <div class="avatar-section">
            <span class="status-indicator"></span>
            <img class="avatar" src="../../assets/Owl.png" alt="User Avatar" />
            <div class="user-info">
              <div class="user-id">JB78956</div>
              <div class="user-role">Finance specialist</div>
            </div>
          </div>
          <div class="actions">
            <button class="action-button">Add to a job</button>
            <button class="action-button">Request Access</button>
            <button class="action-button">Compare</button>
          </div>
        </div>
        <div class="card">
          <div class="left-section">
            <h3>Personality test</h3>
            <div class="text-details">
              <div class="fire">
                <img src="../../assets/fire-lottie-animation-fwTM2IOnDK.png" alt="fire" />
                <div class="line"></div>
                <h4>Fire Element</h4>
              </div>
              <div class="fox">
                <span
                  ><img src="../../assets/dog.png" alt="dog" />
                  <p>A Fox</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/owl-t.png" alt="owl" />
                  <p>An Owl</p></span
                >
                <div class="line"></div>
                <span
                  ><img src="../../assets/fish.png" alt="fish" />
                  <p>A Dolphin</p></span
                >
              </div>
              <div class="dominance">
                <img src="../../assets/dominance.png" alt="dominance" />
                <div class="texts">
                  <p>Dominance: 50%</p>
                  <p>Conscientious: 20%</p>
                  <p>Steadiness: 10%/p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="middle-section">
            <div class="candidate-name">John Scarlet</div>
            <div class="candidate-details">
              <span>From: Candidate pool</span>
              <span>Access expired: 4 days ago</span>
              <span>Added: 3 days ago</span>
            </div>
          </div>
          <div class="right-section">
            <div class="grade">
              <div class="rating">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <div class="rating-number">4.0</div>
              </div>
              <button class="refer-btn">Refer</button>
            </div>
            <div class="line"></div>
            <div class="tags">
              <h3>Tags</h3>
              <div class="skills">
                <span class="tag">Power BI</span>
                <span class="tag">Tableau</span>
                <span class="tag">Tableau</span>
                <span class="tag">Sass</span>
                <span class="tag">Sass</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-panel">
      <img src="../../assets/Scene Wireframe.png" alt="upload" />
      <div class="details">
        <h3>Upload Candidate</h3>
        <p>Add candidates to keep on file for available future positions</p>
        <button class="add-candidate">Add new candidate</button>
      </div>
    </div>
  </div>
</div>
