<div class="recruitment">
  <div class="header">
    <div class="btns">
      <button class="navigation">My Calender</button>
      <button class="navigation">Scorecard</button>
    </div>

    <div class="job-card">
      <div class="job-header">
        <h2 class="job-title">Front end developer</h2>
        <span class="time-posted">2days ago</span>
      </div>
      <div class="job-image">
        <img src="../../assets/edef.png" alt="Front end developer" />
      </div>
      <div class="job-status">
        <div class="status-item">
          <button class="status-button applicant">Applicant</button>
          <span class="number">125</span>
        </div>
        <div class="status-item">
          <button class="status-button shortlist">Shortlist</button>
          <span class="number">25</span>
        </div>
        <div class="status-item">
          <button class="status-button interview">interview</button>
          <span class="number">5</span>
        </div>
        <div class="status-item">
          <button class="status-button offer">Offer</button>
        </div>
        <div class="status-item">
          <button class="status-button hired">Hired</button>
        </div>
      </div>
    </div>
  </div>
</div>
