<div class="containerr">
  <div class="search-parent">
    <div>
      <img src="../../assets/images/job-building.png" alt="" />
    </div>
    <div>
      <div class="search-div">
        <div class="search-container">
          <img src="../../assets/search.svg" alt="Search" class="search-icon" />
          <input type="text" placeholder="Search" class="search-bar" />
          <div class="search-mid">
            <img src="../../assets/icons/location.png" alt="" />
            <p>Location</p>
          </div>
          <button class="custom-select-wrapper">Search</button>
        </div>
      </div>
    </div>
  </div>
  <h3>Recommended jobs</h3>
  <div class="recommend-container">
    <div class="fxFlex">
      <div class="flex">
        <img class="logo" src="../../assets/images/e-logo.png" alt="" />
        <p>Group Creative Director</p>
        <span>Yelp</span>
      </div>
      <img src="../../assets/icons/save-2.png" alt="" />
    </div>
    <div class="recommend-details fxFlex">
      <div class="flex-det">
        <div class="px">
          <img src="../../assets/location.png" alt="" />
          <p>The Hague, Netherlands</p>
        </div>
        <div class="flex">
          <span>Full-Time</span>
          <small></small>
          <span>Urgent hiring</span>
          <small></small>
          <span>Avg hiring: 7 days</span>
        </div>
      </div>
      <span>Posted 2 days ago</span>
    </div>
    <div class="recommend-details">
      <span
        >We have a current team of 12 creatives and your top priority will always be to lead, mentor, motivate, and
        support the career growth and trajectory of those lovely people You will manage and prioritize high-volume,
        high-visibility projects in a fast-paced, stakeholder-driven environment ensuring efficient and effective
        on-time delivery.
      </span>
    </div>
    <div class="det-type flex">
      <div>Communication</div>
      <div>Design system</div>
      <div>Creative strategy</div>
      <div>View more</div>
      <div>Personal communication</div>
    </div>
    <div class="earnings fxFlex">
      <div class="salary">
        <p>Salary: <span>$2.5K - $3.2k</span></p>
      </div>
      <div class="recommend-fri">
        <p>Recommend a friend</p>
        <img src="../../assets/icons/info-circle.png" alt="" />
      </div>
      <div class="job">
        <p>View job</p>
      </div>
    </div>
  </div>
  <div class="recommend-container">
    <div class="fxFlex">
      <div class="flex">
        <img class="logo" src="../../assets/images/e-logo.png" alt="" />
        <p>Group Creative Director</p>
        <span>Yelp</span>
      </div>
      <img src="../../assets/icons/save-2.png" alt="" />
    </div>
    <div class="recommend-details fxFlex">
      <div class="flex-det">
        <div class="px">
          <img src="../../assets/location.png" alt="" />
          <p>The Hague, Netherlands</p>
        </div>
        <div class="flex">
          <span>Full-Time</span>
          <small></small>
          <span>Urgent hiring</span>
          <small></small>
          <span>Avg hiring: 7 days</span>
        </div>
      </div>
      <span>Posted 2 days ago</span>
    </div>
    <div class="recommend-details">
      <span
        >We have a current team of 12 creatives and your top priority will always be to lead, mentor, motivate, and
        support the career growth and trajectory of those lovely people You will manage and prioritize high-volume,
        high-visibility projects in a fast-paced, stakeholder-driven environment ensuring efficient and effective
        on-time delivery.
      </span>
    </div>
    <div class="det-type flex">
      <div>Communication</div>
      <div>Design system</div>
      <div>Creative strategy</div>
      <div>View more</div>
      <div>Personal communication</div>
    </div>
    <div class="earnings fxFlex">
      <div class="salary">
        <p>Salary: <span>$2.5K - $3.2k</span></p>
      </div>
      <div class="recommend-fri">
        <p>Recommend a friend</p>
        <img src="../../assets/icons/info-circle.png" alt="" />
      </div>
      <div class="job">
        <p>View job</p>
      </div>
    </div>
  </div>
</div>
