:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
  // height: 100vh;
  position: fixed;
}

.has-border {
  border-right: 1px solid rgb(0 0 0 / 12%);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgb(0 0 0 / 5%);
  }
}

.menu-button {
  margin-right: 1rem;
}

mat-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e9f4;

  // position: sticky;
}

.active {
  background-color: red;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.welcome-text {
  font-size: 16px;
  color: #333;
  margin-right: 20px;
}

.search-container {
  position: relative;
  width: 359px;
  height: 47px;
  // padding: 10px;
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 10px;
  border-radius: 28px;
  border: 1px solid #e0e9f4;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10;
  .custom-select-wrapper {
    position: relative;
    user-select: none;
    // width: 100%;
    height: 100%;
  }

  .custom-select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    width: 100%;
    height: 100%;
    line-height: 40px;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    cursor: pointer;
  }

  .arrow {
    content: "";
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
  }

  .custom-options {
    position: absolute;
    top: 100%;
    height: 100%;
    min-height: 100px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    z-index: 10;
  }

  .custom-select__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    font-size: 14px;
    color: #1a202c;
    line-height: 16px;
  }

  // .custom-select-wrapper .custom-options {
  //   display: block;
  //   padding: 0;
  //   margin: 0;
  //   list-style: none;
  // }

  .custom-option {
    padding: 4px 22px;
    border-bottom: 1px solid #e0e9f4;
    border-width: 80%;
    font-size: 14px;
    font-weight: 400;
    color: #131825;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
  }

  .custom-option:last-child {
    border-bottom: none;
  }

  .custom-option:hover {
    background-color: #f2f2f25b;
  }
}

.search-bar {
  width: 70%;
  padding: 0 20px 0 50px;
  border-radius: 28px;
  height: 100%;
  border: none;
  outline: none;
  :focus {
    border: none;
    outline: none;
  }
}
.search-icon {
  position: absolute;
  transform: translateX(50% - 50%);
  left: 10px;
  width: 30px;
  width: 30px;
}
.close-post-btn {
  background-color: #fff;
  color: #90a3bf;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #90a3bf;
}
.new-post-btn {
  background-color: #ea3970;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 60px;
  font-weight: bold;
  cursor: pointer;
}

.new-post-btn:hover {
  background: darken($color: #ea3970, $amount: 10);
}

.user-controls {
  display: flex;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

img {
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;

  img {
    width: 2rem;
    margin-right: 0.5rem;
  }
}

.sidebar {
  background: #fff;
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // padding: 15px 0;
  // height: 90%;
  // Adjust width and other properties as necessary to match the image
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  //height: 35%;
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .float-chat-btn {
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    // margin-top: 2rem;

    &.active {
      background-color: lighten($color: white, $amount: 8); // Use the exact color from the image
      span {
        background-color: #ea3970;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        color: #ea3970;
      }

      .img {
        color: #ea3970 !important;
      }
    }

    .nav-link {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-decoration: none;
      color: #333; // Match text color from the image
      font-size: 16px; // Match font size from the image

      mat-icon {
        width: 24px; // Match icon size from the image
        height: 24px;
        margin-right: 10px;
        // Set background images for icons here
      }

      .dashboard-icon {
        background-image: url("/assets/dashboard-icon.svg");
      }
      // Define other icons similarly
    }
  }
}

.logout {
  margin-left: 1rem;
}

h5 {
  color: #cacaca;
  font-weight: 400;
  margin-left: 2rem;
}
