<!-- <div fxFlex style="position: relative">
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar>
        <span class="logo"
          ><img src="../../assets/logo.png" alt="logo" />
          <h3 style="color: #a80837; font-weight: bold">JobId</h3></span
        >
        <div fxFlex></div>
        <div>
          <button mat-icon-button>
            <img
              *ngIf="isSideNavOpen"
              (click)="closeSidenav()"
              style="width: 20px; height: 20px"
              src="../../assets/direaction left.png"
              alt="arrow"
            />
          </button>
        </div>
      </mat-toolbar>
      <aside class="sidebar">
        <ul class="nav">
          <h5>TOOLS</h5>
          <li
            class="nav-item"
            *ngFor="let item of menuItems; let i = index"
            routerLinkActive="active"
            [routerLink]="item.route"
          >
            <a class="nav-link">
              <span style="margin-right: 1.3rem">
                <img style="width: 25px; height: 25px" [src]="item.icon" alt="icon" />
              </span>
              {{ item.name }}
            </a>
            <img
              class="img"
              *ngIf="i !== 0"
              src="../../assets/arrow-right.png"
              style="width: 25px; height: 25px; margin-right: 1rem"
              alt="arrow"
            />
          </li>
        </ul>
        <div class="logout">
          <mat-slide-toggle>Activity log</mat-slide-toggle>
          <span style="display: flex; align-items: center"
            ><img
              src="../../assets/login.png"
              style="width: 25px; height: 25px; margin-right: 1.5rem"
              alt="login-logo"
            />
            <h4>Logout</h4></span
          >
        </div>
      </aside>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z6">
        <mat-icon *ngIf="!isSideNavOpen" (click)="openSidenav()">arrow_forward_ios</mat-icon>
        <header class="header">
          <div class="welcome-text">{{ title }}</div>
          <div class="search-container">
            <input type="text" placeholder="Search" class="search-bar" />
          </div>
          <button class="new-post-btn" [routerLink]="'job-board/create-job-form'">Create new post</button>
          <button class="close-post-btn">Close post</button>
          <div class="user-controls">
            <button class="icon-btn"><mat-icon>apps</mat-icon></button>
            <button class="icon-btn">
              <img src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Notifications" />
            </button>
            <button class="icon-btn">
              <img src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Profile" />
            </button>
          </div>
        </header>
      </mat-toolbar>
      <router-outlet></router-outlet>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<div fxFlex style="position: relative">
  <mat-sidenav-container>
    <!--right side nav  -->
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar>
        <div fxFlex></div>
        <div>
          <button mat-icon-button>
            <img
              *ngIf="isSideNavOpen"
              (click)="closeSidenav()"
              style="width: 20px; height: 20px"
              src="../../assets/icons/arrow-direction-left.png"
              alt="arrow"
            />
          </button>
        </div>
      </mat-toolbar>
      <aside class="r-side">
        <ul>
          <li class="" *ngFor="let item of sideItems; let i = index" [routerLink]="item.route">
            <a class="">
              <img style="width: 36px; height: 36px" [src]="item.icon" alt="icon" />
            </a>
          </li>
        </ul>
      </aside>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z6">
        <header class="header">
          <aside class="sidebar">
            <ul class="nav">
              <span class="logo"
                ><img src="../../assets/logo.png" alt="logo" />
                <h3 style="color: #a80837; font-weight: bold">JobId</h3>
              </span>
              <li
                class="nav-item"
                *ngFor="let item of menuItems; let i = index"
                routerLinkActive="active"
                [routerLink]="item.route"
              >
                <a class="nav-link">
                  <span style="margin-right: 1rem">
                    <img
                      style="width: 25px; height: 25px; display: flex; align-items: center"
                      [src]="item.icon"
                      alt="icon"
                    />
                  </span>
                  {{ item.name }}
                </a>
              </li>
            </ul>
          </aside>
          <div class="search-container">
            <img src="../../assets/search.svg" alt="Search" class="search-icon" />
            <input type="text" placeholder="Search" class="search-bar" />
            <div class="custom-select-wrapper" (click)="toggleDropdown()">
              <div class="custom-select">
                <div class="custom-select__trigger">
                  <span>{{ selectedOption.label }}</span>
                  <div class="arrow"></div>
                </div>
                <div class="custom-options" *ngIf="isOpen">
                  <div class="custom-option" *ngFor="let option of options" (click)="selectOption(option)">
                    {{ option.label }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-controls">
            <button class="icon-btn"><mat-icon>apps</mat-icon></button>
            <button (click)="showProfile()" class="icon-btn" style="position: relative">
              <img src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Notifications" />
              <div *ngIf="isShowProfile" class="profile-tray">
                <div class="p-bdy">
                  <img src="https://gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Notifications" />
                  <div>
                    <p style="margin: 2px">Julius Eyang</p>
                    <span style="display: flex; align-items: center; gap: 5px">
                      <span class="type">Job No.</span>
                      <span>JB134566</span>
                      <img src="" alt="" />
                    </span>
                  </div>

                  <img src="" alt="" />
                </div>
                <!--  -->
                <div class="p-bdy">
                  <img src="assets/icons/social-media/whatsapp.png" alt="Notifications" />
                  <div>
                    <p style="margin: 2px">Whatsapp profile</p>
                    <span>last visited 02/02/2024</span>
                  </div>
                  <img src="" alt="" />
                </div>
                <!--  -->
                <div style="display: flex; gap: 8px">
                  <div class="dash-div">Company page</div>
                  <div class="dash-div">Workspace</div>
                </div>
              </div>
            </button>
          </div>
        </header>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
